.root {
  display: flex;
  flex-wrap: nowrap;
  width: max-content;

  margin-left: 260px;

  img {
    width: 320px;
    height: 488px;

    object-position: center;
    object-fit: cover;

    &:not(:last-child) {
      margin-right: 40px;
    }
  }
}
