.root {
  width: 100%;
  padding: 160px 0 120px 260px;

  h1 {
    font-family: Orchidea Pro;
    font-size: 48px;
    font-weight: 500;
    line-height: 62px;
    letter-spacing: 0em;
    text-align: left;
    color: #141414;

    text-transform: uppercase;
  }
}
