* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #141414;

  font-family: Manrope;
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}
